<!DOCTYPE html>
<html>
<head>

<title>Teacher Dashboard</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body class="bg-light">

<div class="container mt-5">

<h2>👨‍🏫 Teacher Dashboard</h2>

<hr>

<a href="/search"
class="btn btn-primary m-2">
Search Book
</a>

<a href="/find_book"
class="btn btn-success m-2">
Find Book In Shelf
</a>

<a href="/logout"
class="btn btn-danger m-2">
Logout
</a>

</div>

</body>
</html>